{% extends "layout.html" %}

{%set bodyid = "page-ideas"%}

{%block title%}
    <title>Ideias - Casa Criativa</title>
{% endblock title %}
   
     

        {% block content %}
    </head>

        <div id="container">
            <header>
                <a href="/">
                <img src="logo.pmg" alt="imagem da logomarca">
            </a>
                <nav>
                    <li><a href="/">Inicío</a></li>
                    <li><a href="#" onclick="addCard()">Nova Ideia</a></li>
                </nav>
        
            </header>
            <section id="title">
                <p>em exibição</p>
                <h1>Ideias</h1>
            </section>
            <main>
                <section id="ideas">

                    {% include "all_ideas.html"%}
                   
                </section>        
            </main>
            <footer>
                Com ♥️ <a href="http://rocketseat.com.br"target="blank">Rocketseat</a>
            </footer>  
        </div>
        {% endblock %}
           